* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(56, 58, 196);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    height: 100%;
    padding: 1em;
    display: block;
}

nav ul li a:hover {
    background-color: rgb(47, 50, 177);
}

main {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 4px solid lightgray;
    padding: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: .66em;
}

header {
    padding: .66em;
}

span.error {
    color: lightcoral;
    font-weight: bolder;
}

span.success {
    color: rgb(12, 206, 12);
    font-weight: bolder;
}

.form-group label {
    margin-bottom: 8px;
}

.form-group input,
.form-group button {
    width: 100%;
    padding: .66em;
}
